<form class="ui raised blue segment form" action="/dashboard/addstation" method="POST">
  <div class="three fields">
    <div class="field">
      <label>Station Name</label>
      <input placeholder="name" type="text" name="name">
    </div>
    <div class="field">
      <label>Latitude</label>
      <input placeholder="00.00" type="number" step="0.000000000000001" name="latitude">
    </div>
    <div class="field">
      <label>Longitude</label>
      <input placeholder="00.00" type="number" step="0.000000000000001" name="longitude">
    </div>
  </div>
  <button class="ui blue submit button">Add Station</button>
</form>