<table class="ui inverted blue table">
    <thead>

    <tr>
        <th>Latest Reading</th>
        <th>Weather</th>
        <th>Temp</th>
        <th>Wind</th>
        <th>Pressure</th>
    </tr>

    </thead>
    <tbody>
    #{list items:_station.latestReading(), as:'reading'}
    <tr>
        <td>
            ${_station.name}
        </td>

        <td>
            ${reading.codeWeather()}
        </td>
        <td>
            ${reading.temperature} <span class="ui small text">&deg c</span> <br>
            ${reading.calcFahrenheit()} <span class="ui small text">&deg f</span>
        </td>
        <td>
            ${reading.calcBeaufort()} <span class="ui small text">bft</span> <br>
            <span class="ui small text">${reading.compassDirection()}</span> <br>
            <span class="ui small text">Feels like</span> <br>
            <span class="ui small text">${reading.calcWindChill().round(1)}&deg c</span>
        </td>
        <td>
            ${reading.pressure} <span class="ui small text">hpa</span>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>