#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui raised blue segment">
    <div class="ui two column very relaxed grid">
        <div class="column">
            <h3 class="ui header">
                About
            </h3>
            <p>
                WeatherTop Inc. have created a modular weather station called the WeatherTop 1000. This lowcost device
                takes a set of meteorological readings and displays these on our Web Companion Application.
            </p>
            <h4>Version 5: RELEASE 3</h4>
            <p>
                This version launches and displays readings from a small number of weather stations.The latest weather
                reading provides more detailed information.<br>Each reading consists of:<br>
            </p>
            <ul class="ui list">
                <li>Station Name
                <ul>
                    <li>Station Location - Latitude & Longitude</li>
                </ul>
                <li>Weather Conditions - Code & Description
                <ul>
                    <li>Current Weather Icon</li>
                </ul>
                <li>Temperatures in both Celsius & Fahrenheit
                <ul>
                    <li>Including Min & Max values</li>
                </ul>
                <li>Wind Speed (kM/hr) & Beaufort Conversion
                <ul>
                    <li>Wind Direction</li>
                    <li>Wind Compass</li>
                    <li>Wind Chill</li>
                    <li>Including Min & Max values</li>
                </ul>
                <li>Pressure (hPa) Number
                <ul>
                    <li>Including Min & Max values</li>
                </ul>
                <li>Add Station Feature
                <li>Add Reading Feature
                <li>Member Accounts</li>
                <ul>
            </ul>
            <h5>This version also permits additional features:</h5>
            <ul class="ui list">
                <li>Reading date/time stamp</li>
                <li>All Station Summary</li>
                <li>Station/ Reading Delete Support</li>
            </ul>
        </div>
        <div class="column">
            <img class="ui large right floated image" src="/public/images/about.png">
        </div>
    </div>
</section>

<section class="ui raised segment">
    <div class="ui eight column grid">
        <div class="column">
            <div class="segment">
                <img class="ui large image" src="/public/images/clear-image.jpg">
            </div>
        </div>
        <div class="column">
            <div class="segment">
                <img class="ui large image" src="/public/images/partial-cloud-image.jpg">
            </div>
        </div>
        <div class="column">
            <div class="segment">
                <img class="ui large image" src="/public/images/cloudy-image.jpg">
            </div>
        </div>
        <div class="column">
            <div class="segment">
                <img class="ui large image" src="/public/images/light-showers-image.jpg">
            </div>
        </div>
        <div class="column">
            <div class="segment">
                <img class="ui large image" src="/public/images/heavy-showers-image.jpg">
            </div>
        </div>
        <div class="column">
            <div class="segment">
                <img class="ui large image" src="/public/images/rain-image.jpg">
            </div>
        </div>
        <div class="column">
            <div class="segment">
                <img class="ui large image" src="/public/images/snow-image.jpg">
            </div>
        </div>
        <div class="column">
            <div class="segment">
                <img class="ui large image" src="/public/images/thunder-image.jpg">
            </div>
        </div>
    </div>
</section>