#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui raised segment">
    <div class="ui two column very relaxed grid">
        <div class="column">
            <h3 class="ui header">
                About
            </h3>
            <p>
                WeatherTop Inc. have created a modular weather station called the WeatherTop 1000. This lowcost device
                takes a set of meteorological readings and displays these on our Web Companion Application.
            </p>
            <h4>Version 1: STARTER</h4>
            <p>
                This version launches and displays readings from a small number of weather stations.<br>Each reading
                consists of:<br>
            </p>
            <ul class="ui list">
                <li>Weather Code (number in range 100-800)</li>
                <li>Temp (C) decimal</li>
                <li>Wind Speed (kM/hr) decimal</li>
            </ul>
        </div>
        <div class="column">
            <img class="ui large right floated image" src="/public/images/about.jpg">
        </div>
</section>