#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui raised segment">
    <div class="ui two column very relaxed grid">
        <div class="column">
            <h3 class="ui header">
                About
            </h3>
            <p>
                WeatherTop Inc. have created a modular weather station called the WeatherTop 1000. This lowcost device
                takes a set of meteorological readings and displays these on our Web Companion Application.
            </p>
            <h4>Version 3: RELEASE 1</h4>
            <p>
                This version launches and displays readings from a small number of weather stations.The latest weather
                reading provides more detailed information.<br>Each reading consists of:<br>
            </p>
            <ul class="ui list">
                <li>Station Name</li>
                <li>Weather Conditions - Code & Description</li>
                <li>Temperatures in both Celsius & Fahrenheit</li>
                <li>Wind Speed (kM/hr) & Beaufort Conversion</li>
                <ul>
                    <li>Wind Direction</li>
                    <li>Wind Compass</li>
                    <li>Wind Chill</li>
                </ul>
                <li>Pressure (hPa) Number</li>
            </ul>
            <h5>This version also permits two additional features:</h5>
            <ul class="ui list">
                <li>Add Station</li>
                <li>Add Reading</li>
            </ul>
        </div>
        <div class="column">
            <img class="ui large right floated image" src="/public/images/about.jpg">
        </div>
</section>