#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}

<section class="ui raised segment">
    <h2 class="ui header">
        ${station.name}
    </h2>
    <h3>
        #{latestweather station:station/}
    </h3>
    <a href="/station/${station.id}" class= "ui blue icon button">
    <i class="icon folder open"></i></a>
    <a href="/dashboard/deletestation/${station.id}" class="ui red icon right floated button"><i class="trash alternate outline icon"></i></a>
</section>
#{/list}
#{addstation /}