#{extends 'main.html' /}
#{set title:'WeatherTop' /}

#{welcomemenu id:"start"/}

<section class="ui raised blue inverted segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <h1 class="inverted ui header">
        Welcome to WeatherTop 1000
      </h1>
      <p>
        Please Signup or Login to visit the Dashbooard for meteorological readings at stations listed. <br>
        <br>

        On Login visit the About section to find out more about WeatherTop and our Web Companion Application.
      </p>
    </div>
    <div class="column">
      <img class="ui large right floated rounded image" src="/public/images/weathertop.png">
    </div>
</section>

<section class="ui raised segment">
  <div class="ui eight column grid">
    <div class="column">
      <div class="segment">
        <i class="inverted bordered blue huge sun icon"></i>
      </div>
    </div>
    <div class="column">
      <div class="segment">
        <i class="inverted bordered blue huge cloud sun icon"></i>
      </div>
    </div>
    <div class="column">
      <div class="segment">
        <i class="inverted bordered blue huge cloud icon"></i>
      </div>
    </div>
    <div class="column">
      <div class="segment">
        <i class="inverted bordered blue huge cloud rain icon"></i>
      </div>
    </div>
    <div class="column">
      <div class="segment">
        <i class="inverted bordered blue huge cloud showers heavy icon"></i>
      </div>
    </div>
    <div class="column">
      <div class="segment">
        <i class="inverted bordered blue huge cloud sun rain icon"></i>
      </div>
    </div>
    <div class="column">
      <div class="segment">
        <i class="inverted bordered blue huge snowflake outline icon"></i>
      </div>
    </div>
    <div class="column">
      <div class="segment">
        <i class="inverted bordered blue huge bolt icon"></i>
      </div>
    </div>
  </div>
</section>
