#{extends 'main.html' /}
#{set title:'WeatherTop' /}

#{menu id:"start"/}

<section class="ui raised segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <h1 class="ui header">
        Welcome to WeatherTop 1000
      </h1>
      <p>
        Please visit the Dashbooard on our menu for meteorological readings at stations listed. <br>

        Also visit the About section to find out more about Weathertop and our Web Companion Application.
      </p>
    </div>
    <div class="column">
      <img class="ui large right floated image" src="/public/images/weathertop.jpg">
    </div>
</section>

<section class="ui raised segment">
  <div class="ui eight column grid">
    <div class="column">
      <div class="ui segment">
        <img class="ui fluid image" src="/public/images/clear.png">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui fluid image" src="/public/images/partial-clouds.png">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui fluid image" src="/public/images/cloudy.png">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui fluid image" src="/public/images/light-rain.png">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui fluid image" src="/public/images/heavy-rain.png">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui fluid image" src="/public/images/rain.png">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui fluid image" src="/public/images/snow.png">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img class="ui fluid image" src="/public/images/thunder.png">
      </div>
    </div>
  </div>
</section>
